<%- include('../layouts/header.ejs') %>
<%- include('./createForm.ejs') %>

<% if(games){ %>
    <table class="table table-striped border mb-4 align-middle">
        <thead>
            <tr>
                <th class="col-md-1">ID</th>
                <th class="col-md-2">Title</th>
                <th class="col-md-2">Genres</th>
                <th class="col-md-2">Release Year</th>
                <th class="col-md-2">Publisher</th>
                <th class="col-md-3 text-center">Options</th>
            </tr>
        </thead>
        <tbody>
        <% games.forEach(game => { %>
            <tr>
                <th>
                    <%= game.id %>
                </th>
                <td>
                    <%= game.title %>
                </td>
                <td>
                    <% game.genres.forEach((genre, index) => { %>
                        <% if (game.genres.length === index+1) { %>
                            <%= genre.name %>.
                        <% } else { %>
                            <%= genre.name %>,
                        <% } %>
                    <% }) %>
                </td>
                <td>
                    <%= game.yearRelease %>
                </td>
                <td>
                    <% if (game.publisher) { %>
                        <%= game.publisher.name %>
                    <% } %>
                </td>
                <td class="text-center">
                    <a href="/games/detail/<%= game.id %>" type="button"
                        class="btn btn-primary me-1"><i class="bi bi-info-square"></i></button>
                    <a href="/games/updateForm/<%= game.id %>" type="button"
                        class="btn btn-warning me-1"><i class="bi bi-pencil-square"></i></button>
                    <a href="/games/delete/<%= game.id %>" type="button"
                        class="btn btn-danger"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        <% }); }%>
        </tbody>
    </table>
<%- include('../layouts/footer.ejs') %>